<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Track Suggestions</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Track Suggestions</h1>
        <p>Based off your listening history, here's some music you might like!</p>
        <ul>
            {% for track in tracks %}
                <li>{{ track.track_number }}. {{ track.track_name }} - {{ track.artist_name }}</li>
            {% endfor %}
        </ul>
    </body>
</html>