<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>Track Listening History</title>
        <meta charset="UTF-8">
        <meta name = "viewport" content="width = device-width,initial-scale = 1.0">
    </head>
    <body>
        <h1>Track History</h1>
        <p>How many tracks do you want to see?</p>
        <form action="/displayListeningHistory">
            <input type ="number" id = numOfTracks name = "numOfTracks">
            <input type = "submit" value = "Submit">
        </form>
    </body>
</html>