<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Menu</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Spotify Music Suggestions</h1>
        <p>Welcome to this spotify thing.</p>
        <menu>
            <li>Press to see your track listening history.</li> 
            <a href="listeninghistory"><button type="button">See Listening History</button></a>
            <li>Press to see your top tracks.</li>
            <a href = "toptracks"><button type = "button">See top tracks</button></a>
            <li>Press to see recommended music.</li>
            <a href = "trackrecommendation"><button type = "button">See music recommendations</button></a>
            <li>Press x to quit.</li>
        </menu>
    </body>
</html>