<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Artists</title>
</head>
<body>
    <h1>Top Artists</h1>
    <p>How many artists do you want to see?</p>
        <form action="/displayTopArtists">
            <input type ="number" id = numOfArtists name = "numOfArtists">

            <p>What time frame do you want to see artists from?</p>

            <input type="radio" id="short_term" name="time_range" value="Short Term">
            <label for="short_term">Short Term</label><br>
            <input type="radio" id="past_6_months" name="time_range" value="Past 6 months">
            <label for="past_6_months">Past 6 Months</label><br>
            <input type="radio" id="all_time" name="time_range" value="All time">
            <label for="all_time">All Time</label><br>
            
            <input type = "submit" value = "Submit">
        </form>
</body>
</html>