<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>Top tracks</title>
        <meta charset="UTF-8">
        <meta name = "viewport" content="width= device-width, initial-scale = 1.0">
    </head>
    <body>
        <h1>Top Tracks</h1>
        <form action = "/displaytoptracks">
            <p>How many tracks do you want to see?</p>
            <input type = "number" id = numOfTracks name = "numOfTracks">
            
            <p>What time frame do you want to see tracks from?</p>
            <input type = "radio" id = "time_range" value="Short Term">
            <label for="Short Term">Short Term</label><br>
            <input type = "radio" id = "time_range" value="Past 6 months">
            <label for="Past 6 Months">Past 6 Months</label><br>
            <input type = "radio" id = "time_range" value="All time">
            <label for="All time">All time</label><br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>